<div class="container float-start ps-5">
    <p><h1><strong>Contact</strong></h1></p>
</div>
<div class="float-start ps-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>    
</div>
</div>
<br>
<br>
<br>
<br>
<br>    
<div class="container border mt-3 p-3 w-50">
    <div class="container input-group p-3">
        <label class="p-3" id="basic-addon1"><strong>Your E-mail</strong></label>
        <input type="email" placeholder="Your email" class="form-control rounded"><br>
    </div>
    <div class="container input-group p-3">
        <label class="p-3" id="basic-addon2"><strong>Your Message</strong></label>
    </div>
        <div class="container input-group mt-0 pt-0">
            <textarea class="form-control rounded" placeholder="Please enter your message here..." rows="5"></textarea><br>
        </div>
    <div class="float-end mt-3 p-3">
        <button class="btn btn-primary bg-primary" type="submit">Submit</button>
    </div>
</div>