<div class="container-fluid">
    <div class="row">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0">
                <div class="col-md-8 p-4">
                    <div class="card-body">
                        <h2 class="card-title">This First Heading Will catch Your Eye</h2>
                        <p class="card-text">Donec ullancorper nulla non metus auctor fringilla. Vetibulum id igula porta felis
                            euismod semper. Praessent commodo cursus magna, vel scelerinque nisl
                            consectetur. Fusce dapibus, telus ac cursus commodo.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://static.vecteezy.com/system/resources/previews/030/689/481/non_2x/man-bald-2d-cartoon-illustraton-on-white-background-high-q-free-photo.jpg"
                        class="rounded-circle my-4 img-fluid rounded-circle" alt="imagen">
                </div>
            </div>
        </div>
    </div>

</div>