<div class="container-fluid bg-white">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="fs-2 fw-bold">Portfolio</p>
            <p class="fs-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo</p>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2">
        <div class="card">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary fs-4 fw-bold">Project Name</h5>
            <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra eusimod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary fs-4 fw-bold">Project Name</h5>
              <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra eusimod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
      </div>
      <div class="col-lg-2">
        <div class="card">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary fs-4 fw-bold">Project Name</h5>
              <p class="card-text">Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra eusimod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
      </div>
    </div>
  </div>