<div class="container-fluid">
    <div class="row">
        <div class="card mb-3" style="max-width: auto;">
            <div class="row g-0">

                <div class="col-md-4 p-3">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhw8iv9B-xnHVRdZ86JwpIlWQZuc7EeAAEADm8AjuTs3C4yDvEF1Yh6nX55HnzoxzsYvQ&usqp=CAU"
                        class="rounded-circle my-4 img-fluid w-100" alt="imagen">
                </div>

                <div class="col-md-8 p-4">
                    <div class="card-body">
                        <h2 class="card-title">The Second Heading Is Pretty Cool Too. </h2>
                        <p class="card-text">Donec ullancorper nulla non metus auctor fringilla. Vetibulum id igula porta felis
                            euismod semper. Praessent commodo cursus magna, vel scelerinque nisl
                            consectetur. Fusce dapibus, telus ac cursus commodo.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>