<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wallpapers.com/images/hd/new-york-city-skyline-sunset-txvbwr1rdszlxdef.jpg" class="d-block w-100" alt="imagen-newyork">
        <div class="row carousel-caption d-none d-md-block position-absolute top-50 start-50 translate-middle">
          <div class="text-container">
              <h1 class="text-black display-1">One Page Wonder</h1>
          </div>
      </div>
      <div class="row carousel-caption d-none d-md-block position-absolute top-50 start-50 translate-middle">
        <div class="text-container containerok">
            <h1 class="text-black display-2">Will Knock Your Socks Off</h1>
        </div>
    </div>
      
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>